/* Split the screen in half */
.split {
    display: flex;
  }

  /* Control the left side */
#left {
    flex: 1;
    background-color: #111;
  }
  
  /* Control the right side */
  #right {
    flex: .5;
    background-color: red;
  }
  .center{
    text-align: center;
    font-size: larger;
  }